.container-capped {
  padding-left: 60px;
  padding-right: 60px; }

.no-padding {
  padding: 0; }

.no-margin {
  margin: 0; }

.middle-wrap-outer {
  display: table;
  height: 100%;
  width: 100%; }

.middle-wrap {
  display: table-cell;
  vertical-align: middle; }

.button {
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 20px;
  padding: 8px 20px; }

.divider hr {
  max-width: 70px;
  border-color: #f6a500;
  border-width: 2px; }

.title {
  margin-bottom: 50px; }
  .title h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 20px; }
  .title .divider hr {
    margin: 0 auto; }

* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

h1 {
  font-family: "Raleway", sans-serif;
  margin-top: 0; }

h2 {
  font-family: "Raleway", sans-serif; }

h3 {
  font-family: "Raleway", sans-serif; }

h4 {
  font-family: "Raleway", sans-serif; }

h5 {
  font-family: "Raleway", sans-serif; }

p {
  font-family: "Raleway", sans-serif; }

#lightbox {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 6000000; }
  #lightbox .lightbox-inner {
    padding: 50px 100px;
    width: 100%;
    height: 100%;
    position: relative; }
    #lightbox .lightbox-inner img {
      display: block;
      margin: 0 auto; }

nav {
  height: 80px;
  background-color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 13px; }
  nav .nav-logo {
    float: left;
    height: 80px;
    padding: 10px 0; }
    nav .nav-logo a {
      display: block;
      height: 100%; }
      nav .nav-logo a img {
        height: 100%;
        width: auto; }
  nav .nav-menu {
    float: right; }
    nav .nav-menu ul {
      list-style-type: none; }
      nav .nav-menu ul li {
        float: left;
        padding: 0 12px; }
        nav .nav-menu ul li a {
          line-height: 80px;
          text-transform: uppercase;
          color: #000000; }
      nav .nav-menu ul .current_page_item a {
        color: #f6a500 !important; }
      nav .nav-menu ul li:last-child {
        padding-left: 12px;
        padding-right: 0; }

#slider {
  position: relative;
  height: 450px;
  overflow: hidden; }
  #slider .slide-overlay {
    position: absolute;
    display: table;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: #ffffff;
    z-index: 1000; }
    #slider .slide-overlay h1 {
      font-weight: 700;
      text-transform: uppercase; }
    #slider .slide-overlay h4 {
      line-height: 27px; }
  #slider .image-darken {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.05); }

#call-to-action {
  background: #f6a500 url("../../assets/images/call-to-action-background.png");
  background-repeat: no-repeat;
  background-position: 0 10px;
  padding-top: 30px;
  padding-bottom: 30px; }
  #call-to-action h5 {
    float: left;
    color: #ffffff;
    line-height: 23px; }
  #call-to-action .button {
    float: right; }

#home-layout #services-container {
  padding-top: 50px;
  padding-bottom: 50px; }
  #home-layout #services-container .services-row .row {
    margin-top: 50px; }
  #home-layout #services-container .services-row .thumb {
    width: 100%;
    height: 150px;
    margin-bottom: 30px;
    overflow: hidden; }
    #home-layout #services-container .services-row .thumb img {
      width: 100%;
      height: auto; }
#home-layout #testimonial-container {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #F6F6F6; }
  #home-layout #testimonial-container .testimonial-row .testimonial-item {
    text-align: center; }
    #home-layout #testimonial-container .testimonial-row .testimonial-item .testimonial-item-inner {
      background-color: #ffffff;
      padding: 30px; }
    #home-layout #testimonial-container .testimonial-row .testimonial-item .quote-img {
      margin: 0 auto;
      margin-bottom: 25px; }
    #home-layout #testimonial-container .testimonial-row .testimonial-item p {
      margin: 0; }
#home-layout #recent-projects-container {
  padding-top: 50px;
  padding-bottom: 50px; }
  #home-layout #recent-projects-container .recent-projects-row .project {
    overflow: hidden; }
    #home-layout #recent-projects-container .recent-projects-row .project .project-inner {
      position: relative; }
    #home-layout #recent-projects-container .recent-projects-row .project .project-overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0; }
      #home-layout #recent-projects-container .recent-projects-row .project .project-overlay .project-overlay-inner {
        position: relative;
        display: table;
        z-index: 1000;
        height: 100%;
        width: 100%;
        color: #ffffff;
        text-align: center; }
        #home-layout #recent-projects-container .recent-projects-row .project .project-overlay .project-overlay-inner h3 {
          margin-top: 0;
          position: relative;
          top: -160px;
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out; }
        #home-layout #recent-projects-container .recent-projects-row .project .project-overlay .project-overlay-inner .divider {
          display: none; }
          #home-layout #recent-projects-container .recent-projects-row .project .project-overlay .project-overlay-inner .divider hr {
            border-color: #ffffff;
            margin: 0 auto; }
        #home-layout #recent-projects-container .recent-projects-row .project .project-overlay .project-overlay-inner .category {
          margin-top: 10px;
          display: block;
          position: relative;
          top: 160px;
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out; }
          #home-layout #recent-projects-container .recent-projects-row .project .project-overlay .project-overlay-inner .category span {
            margin-right: 5px; }
          #home-layout #recent-projects-container .recent-projects-row .project .project-overlay .project-overlay-inner .category span:last-child {
            margin-right: 0; }
      #home-layout #recent-projects-container .recent-projects-row .project .project-overlay .project-overlay-color {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #f6a500;
        opacity: 0;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; }
    #home-layout #recent-projects-container .recent-projects-row .project img {
      width: 100%;
      height: auto; }
  #home-layout #recent-projects-container .recent-projects-row .project:hover .project-overlay-color {
    opacity: 0.7; }
  #home-layout #recent-projects-container .recent-projects-row .project:hover .project-overlay-inner h3 {
    top: 0; }
  #home-layout #recent-projects-container .recent-projects-row .project:hover .project-overlay-inner .divider {
    display: block; }
  #home-layout #recent-projects-container .recent-projects-row .project:hover .project-overlay-inner .category {
    top: 0; }

#about-us {
  padding-top: 50px;
  padding-bottom: 50px; }
  #about-us .row {
    margin-top: 50px; }
  #about-us .row:nth-child(1) {
    margin-top: 0; }
  #about-us .row-about .thumb {
    width: 100%;
    height: 150px;
    margin-bottom: 30px;
    overflow: hidden; }
    #about-us .row-about .thumb img {
      width: 100%;
      height: auto; }
  #about-us .row-services {
    margin-top: 100px; }
    #about-us .row-services .services-inner {
      background-color: #F8F8F8;
      padding: 50px 30px;
      display: inline-block; }
      #about-us .row-services .services-inner .services-nav {
        border-right: 2px solid #ffffff; }
        #about-us .row-services .services-inner .services-nav ul {
          list-style-type: none;
          margin-bottom: 0; }
          #about-us .row-services .services-inner .services-nav ul li {
            margin-top: 20px; }
            #about-us .row-services .services-inner .services-nav ul li a {
              color: #666666;
              font-size: 16px; }
            #about-us .row-services .services-inner .services-nav ul li a:hover {
              color: #f6a500;
              text-decoration: none; }
            #about-us .row-services .services-inner .services-nav ul li .active {
              color: #f6a500; }
          #about-us .row-services .services-inner .services-nav ul li:first-child {
            margin-top: 0; }
      #about-us .row-services .services-inner .services-text {
        padding-left: 50px; }
        #about-us .row-services .services-inner .services-text p {
          line-height: 26px; }

#single-projecten {
  padding-top: 50px;
  padding-bottom: 50px; }
  #single-projecten .single-projecten-text h1 {
    text-transform: uppercase; }
  #single-projecten .single-projecten-text .project-info {
    margin-top: 30px; }
    #single-projecten .single-projecten-text .project-info td {
      min-width: 105px;
      margin-top: 5px;
      padding-bottom: 5px; }
    #single-projecten .single-projecten-text .project-info .icon {
      color: #f6a500;
      font-size: 17px; }
    #single-projecten .single-projecten-text .project-info small {
      color: #999999;
      margin-left: 5px; }
  #single-projecten .single-projecten-images .project-image {
    margin-top: 30px;
    overflow: hidden; }
    #single-projecten .single-projecten-images .project-image .project-image-inner {
      position: relative; }
      #single-projecten .single-projecten-images .project-image .project-image-inner .project-image-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0; }
        #single-projecten .single-projecten-images .project-image .project-image-inner .project-image-overlay .project-image-overlay-inner {
          position: relative;
          display: table;
          z-index: 1000;
          height: 100%;
          width: 100%;
          color: #ffffff;
          text-align: center; }
          #single-projecten .single-projecten-images .project-image .project-image-inner .project-image-overlay .project-image-overlay-inner i {
            font-size: 46px;
            position: relative;
            top: -460px;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out; }
        #single-projecten .single-projecten-images .project-image .project-image-inner .project-image-overlay .project-image-overlay-color {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background-color: #f6a500;
          opacity: 0;
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out; }
  #single-projecten .single-projecten-images .project-image:nth-child(1) {
    margin-top: 0 !important; }
  #single-projecten .single-projecten-images .project-image:hover .project-image-overlay-color {
    opacity: 0.7 !important; }
  #single-projecten .single-projecten-images .project-image:hover .project-image-overlay-inner i {
    top: 0 !important; }
  #single-projecten .posts-nav {
    margin-top: 50px; }
    #single-projecten .posts-nav .next-post-link {
      text-align: right; }
      #single-projecten .posts-nav .next-post-link i:before {
        text-align: right;
        margin-right: 0; }
    #single-projecten .posts-nav .previous-post-link i:before {
      text-align: left;
      margin-left: 0; }
    #single-projecten .posts-nav a {
      color: #ffffff;
      background: #f6a500;
      border-radius: 20px;
      padding: 8px 20px; }
      #single-projecten .posts-nav a i {
        font-size: 11px; }
    #single-projecten .posts-nav a:hover {
      background: #2C353D;
      text-decoration: none; }

footer {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #2C353D;
  color: #ffffff; }
  footer hr {
    margin: 0;
    border-color: #999999; }
  footer ul {
    margin-top: 20px;
    list-style-type: none; }
    footer ul li {
      margin-top: 7px; }
      footer ul li a {
        color: #ffffff; }
    footer ul li:first-child {
      margin-top: 0; }

/*# sourceMappingURL=style.css.map */
