html {
  height: 100%; }

body {
  height: 100%; }

.container-capped {
  padding-left: 60px;
  padding-right: 60px; }

.no-padding {
  padding: 0; }

.no-margin {
  margin: 0; }

.middle-wrap-outer {
  display: table;
  height: 100%;
  width: 100%; }

.middle-wrap {
  display: table-cell;
  vertical-align: middle; }

.button {
  color: #ffffff;
  background: #f6a500;
  border: none;
  border-radius: 20px;
  padding: 8px 20px;
  text-transform: uppercase;
  font-size: 13px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out; }

.button:hover {
  color: #ffffff;
  background: #2C353D;
  text-decoration: none; }

.button:focus {
  color: #ffffff;
  background: #2C353D;
  text-decoration: none; }

.divider hr {
  max-width: 70px;
  border-color: #f6a500;
  border-width: 2px; }

.title {
  margin-bottom: 50px; }
  .title h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 20px; }
  .title .divider hr {
    margin: 0 auto; }

#preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  top: 0;
  left: 0;
  z-index: 100000000; }
  #preloader .preloader-inner {
    height: 90px;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
    #preloader .preloader-inner img {
      margin: 0 auto;
      top: -100px;
      position: relative;
      display: block; }

#go-to-top {
  position: fixed;
  right: 15px;
  bottom: 20px;
  width: 30px;
  height: 30px;
  z-index: 1000000;
  background-color: #f6a500;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  display: table;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out; }
  #go-to-top i {
    color: #ffffff;
    position: relative;
    display: table-cell;
    vertical-align: middle;
    top: 0;
    transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out; }

#go-to-top:hover {
  background-color: #2C353D; }
  #go-to-top:hover i {
    color: #ffffff;
    top: -3px; }

#go-to-top:focus {
  background-color: #f6a500; }
  #go-to-top:focus i {
    color: #ffffff; }

.go-to-top-active {
  opacity: 1 !important; }

* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

h1 {
  font-family: "Raleway", sans-serif;
  margin-top: 0; }

h2 {
  font-family: "Raleway", sans-serif; }

h3 {
  font-family: "Raleway", sans-serif; }

h4 {
  font-family: "Raleway", sans-serif; }

h5 {
  font-family: "Raleway", sans-serif; }

p {
  font-family: "Raleway", sans-serif; }

span {
  font-family: "Raleway", sans-serif; }

small {
  font-family: "Raleway", sans-serif; }

strong {
  font-family: "Raleway", sans-serif; }

a {
  font-family: "Raleway", sans-serif; }

td {
  font-family: "Raleway", sans-serif; }

#lightbox {
  position: fixed;
  width: 100%;
  height: 100%;
  padding: 50px;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 60000000; }
  #lightbox .lightbox-wrapper {
    width: 100%;
    height: 100%; }
  #lightbox .lightbox-inner {
    position: relative;
    width: 100%;
    height: 100%;
    display: block; }
    #lightbox .lightbox-inner .lb-image {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat; }
    #lightbox .lightbox-inner .active {
      opacity: 1; }
  #lightbox .lightbox-menu {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 60000001; }
    #lightbox .lightbox-menu .lb-menu-item {
      color: #ffffff;
      transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out; }
    #lightbox .lightbox-menu .lb-menu-item:hover {
      color: #f6a500 !important;
      text-decoration: none; }
    #lightbox .lightbox-menu .lightbox-prev {
      display: block;
      position: absolute;
      top: 50%;
      left: 12px; }
      #lightbox .lightbox-menu .lightbox-prev i {
        font-size: 18px; }
    #lightbox .lightbox-menu .lightbox-next {
      display: block;
      position: absolute;
      top: 50%;
      right: 12px; }
      #lightbox .lightbox-menu .lightbox-next i {
        font-size: 18px; }
    #lightbox .lightbox-menu .lightbox-close {
      display: block;
      position: absolute;
      width: 100%;
      bottom: 10px;
      text-align: center;
      color: #ffffff; }

.mobile nav {
  position: relative !important; }

nav {
  height: 80px;
  width: 100%;
  position: fixed;
  background-color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  z-index: 10000000;
  top: 0;
  border-bottom: 1px solid #D9D9D9;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out; }
  nav .nav-logo {
    float: left;
    height: 100%;
    padding: 10px 0; }
    nav .nav-logo a {
      display: block;
      height: 100%; }
      nav .nav-logo a img {
        height: 59px;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out; }
  nav .nav-menu {
    float: right; }
    nav .nav-menu ul {
      list-style-type: none; }
      nav .nav-menu ul li {
        float: left;
        padding: 0 12px; }
        nav .nav-menu ul li a {
          line-height: 80px;
          text-transform: uppercase;
          color: #000000;
          font-size: 14px;
          font-weight: 500;
          transition: all 0.3s ease-in-out;
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out; }
        nav .nav-menu ul li a:hover {
          color: #f6a500 !important;
          text-decoration: none; }
        nav .nav-menu ul li a:focus {
          text-decoration: none; }
        nav .nav-menu ul li .sub-menu {
          display: none;
          border-top: 1px solid #f6a500;
          margin-left: -12px;
          margin-top: -1px;
          position: absolute; }
          nav .nav-menu ul li .sub-menu li {
            padding: 0;
            float: none !important;
            background-color: #333333;
            border-top: 1px solid rgba(255, 255, 255, 0.1);
            border-bottom: 1px solid rgba(0, 0, 0, 0.3);
            transition: all 0.3s ease-in-out;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out; }
            nav .nav-menu ul li .sub-menu li a {
              padding: 20px 12px;
              color: #ffffff;
              display: block;
              line-height: 20px; }
          nav .nav-menu ul li .sub-menu li:hover {
            background-color: #f6a500; }
            nav .nav-menu ul li .sub-menu li:hover a {
              color: #ffffff !important; }
      nav .nav-menu ul li:hover .sub-menu {
        display: block; }
      nav .nav-menu ul .current_page_item a, nav .nav-menu ul .current-menu-item a {
        color: #f6a500 !important; }
      nav .nav-menu ul .current_page_item .sub-menu a, nav .nav-menu ul .current-menu-item .sub-menu a {
        color: #ffffff !important; }
      nav .nav-menu ul li:last-child {
        padding-left: 12px;
        padding-right: 0; }

.menu-close {
  height: 60px !important; }
  .menu-close .nav-logo a img {
    height: 39px;
    width: auto !important; }
  .menu-close .nav-menu ul li a {
    line-height: 60px !important; }

.mobile #slider {
  margin-top: 0 !important; }

#slider {
  position: relative;
  height: 450px;
  overflow: hidden;
  margin-top: 80px; }
  #slider .slide-container {
    margin-left: 0;
    height: 100%;
    transition: margin-left 0.3s ease-in-out;
    -webkit-transition: margin-left 0.3s ease-in-out;
    -moz-transition: margin-left 0.3s ease-in-out;
    -o-transition: margin-left 0.3s ease-in-out; }
    #slider .slide-container .slide {
      position: relative;
      height: 100%;
      float: left;
      overflow: hidden;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center; }
      #slider .slide-container .slide .slide-overlay {
        position: absolute;
        display: table;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        color: #ffffff;
        z-index: 1000; }
        #slider .slide-container .slide .slide-overlay h1 {
          font-weight: 700;
          text-transform: uppercase;
          text-shadow: #666666 1px 1px 1px; }
        #slider .slide-container .slide .slide-overlay h4 {
          line-height: 27px;
          text-shadow: #666666 1px 1px 1px; }
        #slider .slide-container .slide .slide-overlay small {
          color: inherit; }
        #slider .slide-container .slide .slide-overlay strong {
          color: inherit; }
        #slider .slide-container .slide .slide-overlay .button {
          display: inline-block;
          margin-top: 20px; }
      #slider .slide-container .slide .image-darken {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.05); }
  #slider .slider-nav {
    position: absolute;
    bottom: 20px;
    z-index: 1000000;
    width: 100%;
    text-align: center; }
    #slider .slider-nav ul {
      list-style-type: none;
      margin: 0 auto; }
      #slider .slider-nav ul li {
        float: left;
        cursor: pointer; }
        #slider .slider-nav ul li i {
          color: #ffffff;
          text-shadow: #666666 1px 1px 1px; }

#call-to-action {
  background: #f6a500 url("../../assets/images/call-to-action-background.png");
  background-repeat: no-repeat;
  background-position: 0 10px;
  padding-top: 30px;
  padding-bottom: 30px; }
  #call-to-action .text-wrap {
    float: left;
    padding-top: 10px;
    padding-bottom: 10px; }
    #call-to-action .text-wrap h4 {
      color: #ffffff;
      line-height: 23px;
      margin: 0; }
      #call-to-action .text-wrap h4 p {
        margin: 0; }
  #call-to-action .button-wrap {
    float: right; }
    #call-to-action .button-wrap .button {
      display: block;
      background: transparent;
      border: 1px solid #ffffff; }
    #call-to-action .button-wrap .button:hover {
      border-color: #2C353D;
      color: #2C353D; }

#home-layout #services-container {
  padding-top: 50px;
  padding-bottom: 50px; }
  #home-layout #services-container .services-row .row {
    margin-top: 50px; }
  #home-layout #services-container .services-row .service p {
    line-height: 24px; }
  #home-layout #services-container .services-row .service .thumb {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    overflow: hidden; }
    #home-layout #services-container .services-row .service .thumb img {
      width: 100%;
      height: auto; }
  #home-layout #services-container .services-row .service .content .divider hr {
    text-align: left; }
#home-layout #testimonial-container {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #F3F3F3; }
  #home-layout #testimonial-container .carousel-wrapper {
    position: relative;
    overflow: hidden; }
    #home-layout #testimonial-container .carousel-wrapper .carousel-container {
      position: absolute;
      top: 0;
      left: 0; }
      #home-layout #testimonial-container .carousel-wrapper .carousel-container .carousel-item {
        float: left;
        list-style-type: none;
        padding-left: 15px;
        padding-right: 15px; }
        #home-layout #testimonial-container .carousel-wrapper .carousel-container .carousel-item .carousel-item-inner {
          padding: 30px;
          background-color: #ffffff;
          text-align: center; }
          #home-layout #testimonial-container .carousel-wrapper .carousel-container .carousel-item .carousel-item-inner p {
            margin: 0; }
          #home-layout #testimonial-container .carousel-wrapper .carousel-container .carousel-item .carousel-item-inner .quote-img {
            margin-bottom: 25px; }
#home-layout #recent-projects-container {
  padding-top: 50px;
  padding-bottom: 50px; }
  #home-layout #recent-projects-container .recent-projects-row .project {
    overflow: hidden; }
    #home-layout #recent-projects-container .recent-projects-row .project .project-inner {
      position: relative; }
    #home-layout #recent-projects-container .recent-projects-row .project .project-overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0; }
      #home-layout #recent-projects-container .recent-projects-row .project .project-overlay .project-overlay-inner {
        position: relative;
        display: table;
        z-index: 1000;
        height: 100%;
        width: 100%;
        color: #ffffff;
        text-align: center; }
        #home-layout #recent-projects-container .recent-projects-row .project .project-overlay .project-overlay-inner h3 {
          margin-top: 0;
          position: relative;
          top: -500px;
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out; }
        #home-layout #recent-projects-container .recent-projects-row .project .project-overlay .project-overlay-inner .divider {
          opacity: 0;
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out; }
          #home-layout #recent-projects-container .recent-projects-row .project .project-overlay .project-overlay-inner .divider hr {
            border-color: #ffffff;
            margin: 0 auto; }
        #home-layout #recent-projects-container .recent-projects-row .project .project-overlay .project-overlay-inner .category {
          margin-top: 10px;
          display: block;
          position: relative;
          top: 500px;
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out; }
          #home-layout #recent-projects-container .recent-projects-row .project .project-overlay .project-overlay-inner .category span {
            margin-right: 5px; }
          #home-layout #recent-projects-container .recent-projects-row .project .project-overlay .project-overlay-inner .category span:last-child {
            margin-right: 0; }
      #home-layout #recent-projects-container .recent-projects-row .project .project-overlay .project-overlay-color {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #f6a500;
        opacity: 0;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; }
    #home-layout #recent-projects-container .recent-projects-row .project img {
      width: 100%;
      height: auto; }
  #home-layout #recent-projects-container .recent-projects-row .mobile-description {
    color: #000000;
    display: none; }
    #home-layout #recent-projects-container .recent-projects-row .mobile-description h3 {
      margin-top: 10px; }
  #home-layout #recent-projects-container .recent-projects-row .project:hover .project-overlay-color {
    opacity: 0.7; }
  #home-layout #recent-projects-container .recent-projects-row .project:hover .project-overlay-inner h3 {
    top: 0; }
  #home-layout #recent-projects-container .recent-projects-row .project:hover .project-overlay-inner .divider {
    opacity: 1; }
  #home-layout #recent-projects-container .recent-projects-row .project:hover .project-overlay-inner .category {
    top: 0; }
  #home-layout #recent-projects-container .link-to-projects {
    text-align: center;
    margin-top: 30px; }
    #home-layout #recent-projects-container .link-to-projects .button {
      display: inline-block; }

#about-us {
  padding-top: 50px;
  padding-bottom: 50px; }
  #about-us .row {
    margin-top: 50px; }
  #about-us .row:nth-child(1) {
    margin-top: 0; }
  #about-us .row-about .thumb {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    overflow: hidden; }
    #about-us .row-about .thumb img {
      width: 100%;
      height: auto; }
  #about-us .row-about .content .divider hr {
    text-align: left; }
  #about-us .row-services {
    margin-top: 100px; }
    #about-us .row-services .services-inner {
      background-color: #F8F8F8;
      padding: 50px 30px;
      display: inline-block; }
      #about-us .row-services .services-inner .services-nav {
        border-right: 2px solid #ffffff; }
        #about-us .row-services .services-inner .services-nav ul {
          list-style-type: none;
          margin-bottom: 0; }
          #about-us .row-services .services-inner .services-nav ul li {
            margin-top: 20px; }
            #about-us .row-services .services-inner .services-nav ul li a {
              color: #666666;
              font-size: 16px; }
            #about-us .row-services .services-inner .services-nav ul li a:hover {
              color: #f6a500;
              text-decoration: none; }
            #about-us .row-services .services-inner .services-nav ul li a:focus {
              text-decoration: none; }
            #about-us .row-services .services-inner .services-nav ul li .active {
              color: #f6a500; }
          #about-us .row-services .services-inner .services-nav ul li:first-child {
            margin-top: 0; }
      #about-us .row-services .services-inner .services-text {
        overflow: hidden;
        padding-left: 50px; }
        #about-us .row-services .services-inner .services-text .service-text {
          position: relative;
          display: none; }
        #about-us .row-services .services-inner .services-text .active {
          display: block; }
        #about-us .row-services .services-inner .services-text p {
          line-height: 26px; }

#contact {
  background: #F3F3F3;
  padding-top: 50px;
  padding-bottom: 50px; }
  #contact .left {
    padding-left: 0; }
  #contact .right {
    padding-right: 0; }
  #contact .content {
    max-width: 600px; }
    #contact .content p {
      line-height: 24px; }
    #contact .content .divider hr {
      text-align: left; }
  #contact .form {
    margin-top: 50px; }
    #contact .form .form-control {
      border-radius: 0;
      border: none !important; }
    #contact .form textarea {
      resize: vertical; }

#projects {
  padding-top: 50px;
  padding-bottom: 50px; }
  #projects .title {
    margin-bottom: 20px; }
  #projects .project {
    overflow: hidden;
    margin-top: 30px; }
    #projects .project .project-inner {
      position: relative; }
    #projects .project .project-overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0; }
      #projects .project .project-overlay .project-overlay-inner {
        position: relative;
        display: table;
        z-index: 1000;
        height: 100%;
        width: 100%;
        color: #ffffff;
        text-align: center; }
        #projects .project .project-overlay .project-overlay-inner h3 {
          margin-top: 0;
          position: relative;
          top: -500px;
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out; }
        #projects .project .project-overlay .project-overlay-inner .divider {
          opacity: 0;
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out; }
          #projects .project .project-overlay .project-overlay-inner .divider hr {
            border-color: #ffffff;
            margin: 0 auto; }
        #projects .project .project-overlay .project-overlay-inner .category {
          margin-top: 10px;
          display: block;
          position: relative;
          top: 500px;
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out; }
          #projects .project .project-overlay .project-overlay-inner .category span {
            margin-right: 5px; }
          #projects .project .project-overlay .project-overlay-inner .category span:last-child {
            margin-right: 0; }
      #projects .project .project-overlay .project-overlay-color {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #f6a500;
        opacity: 0;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; }
    #projects .project img {
      width: 100%;
      height: auto; }
    #projects .project .mobile-description {
      color: #000000;
      display: none; }
      #projects .project .mobile-description h3 {
        margin-top: 10px; }
  #projects .project:hover .project-overlay-color {
    opacity: 0.7; }
  #projects .project:hover .project-overlay-inner h3 {
    top: 0; }
  #projects .project:hover .project-overlay-inner .divider {
    opacity: 1; }
  #projects .project:hover .project-overlay-inner .category {
    top: 0; }

#single-projecten {
  padding-top: 50px;
  padding-bottom: 50px; }
  #single-projecten .single-projecten-text h1 {
    text-transform: uppercase;
    font-weight: 600; }
  #single-projecten .single-projecten-text p {
    line-height: 24px; }
  #single-projecten .single-projecten-text .divider hr {
    text-align: left; }
  #single-projecten .single-projecten-text .project-info {
    margin-top: 30px; }
    #single-projecten .single-projecten-text .project-info td {
      min-width: 105px;
      margin-top: 5px;
      padding-bottom: 5px; }
    #single-projecten .single-projecten-text .project-info .icon {
      color: #f6a500;
      font-size: 17px; }
    #single-projecten .single-projecten-text .project-info small {
      color: #999999;
      margin-left: 5px; }
  #single-projecten .single-projecten-images .project-image {
    margin-top: 30px;
    overflow: hidden; }
    #single-projecten .single-projecten-images .project-image .project-image-inner {
      position: relative; }
      #single-projecten .single-projecten-images .project-image .project-image-inner .project-image-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0; }
        #single-projecten .single-projecten-images .project-image .project-image-inner .project-image-overlay .project-image-overlay-inner {
          position: relative;
          display: table;
          z-index: 1000;
          height: 100%;
          width: 100%;
          color: #ffffff;
          text-align: center; }
          #single-projecten .single-projecten-images .project-image .project-image-inner .project-image-overlay .project-image-overlay-inner i {
            font-size: 46px;
            position: relative;
            top: -860px;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out; }
        #single-projecten .single-projecten-images .project-image .project-image-inner .project-image-overlay .project-image-overlay-color {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background-color: #f6a500;
          opacity: 0;
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out; }
  #single-projecten .single-projecten-images .project-image:nth-child(1) {
    margin-top: 0 !important; }
  #single-projecten .single-projecten-images .project-image:hover .project-image-overlay-color {
    opacity: 0.7 !important; }
  #single-projecten .single-projecten-images .project-image:hover .project-image-overlay-inner i {
    top: 0 !important; }
  #single-projecten .posts-nav {
    margin-top: 50px; }
    #single-projecten .posts-nav .next-post-link {
      text-align: right; }
      #single-projecten .posts-nav .next-post-link i:before {
        text-align: right;
        margin-right: 0; }
    #single-projecten .posts-nav .previous-post-link i:before {
      text-align: left;
      margin-left: 0; }
    #single-projecten .posts-nav .button i {
      font-size: 11px;
      left: 0;
      position: relative;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
    #single-projecten .posts-nav .previous-post-link .button:hover i {
      left: -5px !important; }
    #single-projecten .posts-nav .next-post-link .button:hover i {
      left: 5px !important; }

footer {
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: #2C353D;
  color: #ffffff; }
  footer hr {
    margin: 0;
    border-color: #999999; }
  footer .textwidget {
    margin-top: 20px;
    font-family: "Raleway", sans-serif; }
  footer ul {
    margin-top: 20px;
    list-style-type: none; }
    footer ul li {
      margin-top: 7px; }
      footer ul li a {
        color: #ffffff; }
      footer ul li a:hover {
        text-decoration: none;
        color: #f6a500; }
      footer ul li a:focus {
        text-decoration: none;
        color: #f6a500; }
    footer ul li:first-child {
      margin-top: 0; }
  footer .copyright {
    font-size: 11px;
    margin-top: 30px; }
    footer .copyright a {
      color: #FFFFFF;
      font-weight: 600; }
    footer .copyright a:hover {
      text-decoration: none;
      color: #f6a500; }

.mobile .mobile-description {
  display: block !important; }
.mobile .project-overlay {
  display: none !important; }

@media screen and (max-width: 767px) {
  .slider-nav ul {
    width: 110px !important; }
    .slider-nav ul li {
      margin-left: 10px; }
    .slider-nav ul li:first-child {
      margin-left: 0px; }

  #recent-projects-container .recent-projects-row a:first-child {
    margin-top: 0; }
  #recent-projects-container .recent-projects-row a {
    margin-top: 30px;
    display: block; } }
@media screen and (max-width: 768px) {
  .mobile .slide-overlay h4 {
    display: none; }

  #call-to-action .button-wrap {
    float: none;
    width: 100%;
    margin-top: 20px;
    display: inline-block; }
    #call-to-action .button-wrap a {
      text-align: center; }

  #testimonial-container .testimonial-item {
    margin-top: 20px; }
  #testimonial-container .testimonial-item:first-child {
    margin-top: 0; }

  #about-us .services-nav {
    padding-bottom: 20px;
    border-right: none !important;
    border-bottom: 2px solid #ffffff; }
    #about-us .services-nav ul li {
      margin-left: 0 !important;
      margin-top: 10px !important;
      float: none !important; }
  #about-us .services-text {
    margin-top: 20px;
    padding-left: 15px !important; } }
@media screen and (max-width: 992px) {
  .single-projecten-images {
    margin-top: 30px; }

  .container-capped {
    padding-left: 30px !important;
    padding-right: 30px !important; }

  footer .col-md-3 {
    margin-top: 30px; }
  footer .col-md-3:first-child {
    margin-top: 0; }

  .services-row .row .service:first-child {
    margin-top: 0; }
  .services-row .row .service {
    margin-top: 50px; }

  #contact .left {
    padding-right: 0 !important; }
  #contact .right {
    padding-left: 0 !important; }

  #about-us .services-nav {
    padding-bottom: 20px;
    border-right: none !important;
    border-bottom: 2px solid #ffffff; }
    #about-us .services-nav ul li {
      margin-left: 0 !important;
      margin-top: 10px !important;
      float: none !important; }
  #about-us .services-text {
    margin-top: 20px;
    padding-left: 15px !important; }

  #contact .content {
    max-width: none !important; }
  #contact .sidebar {
    margin-top: 50px; } }
@media screen and (max-width: 1024px) {
  #main-nav .menu-container {
    position: absolute;
    left: 0;
    width: 100%;
    background-color: #333333;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    #main-nav .menu-container li {
      float: none !important;
      padding: 0 !important;
      border-top: 1px solid rgba(255, 255, 255, 0.1);
      border-bottom: 1px solid rgba(0, 0, 0, 0.3);
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
      #main-nav .menu-container li a {
        width: 100%;
        padding: 0 30px;
        display: block;
        line-height: 60px !important;
        color: #ffffff; }
        #main-nav .menu-container li a i {
          float: right;
          transform: rotate(0deg);
          -webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out; }
        #main-nav .menu-container li a .icon-submenu-clicked {
          transform: rotate(180deg) !important;
          -webkit-transform: rotate(180deg) !important;
          -moz-transform: rotate(180deg) !important;
          -o-transform: rotate(180deg) !important; }
      #main-nav .menu-container li .sub-menu {
        border-top: none !important;
        max-height: 0;
        display: block !important;
        background-color: #444444;
        color: #ffffff;
        overflow: hidden;
        position: relative !important;
        margin-left: 0;
        margin-top: 0;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; }
        #main-nav .menu-container li .sub-menu li {
          background-color: #444444; }
      #main-nav .menu-container li .sub-menu-open {
        max-height: 1000px; }
    #main-nav .menu-container li:hover {
      background-color: #f6a500 !important; }
      #main-nav .menu-container li:hover a {
        color: #ffffff !important; }
      #main-nav .menu-container li:hover .current_page_item a, #main-nav .menu-container li:hover .current-menu-item a {
        color: #f6a500 !important; }
      #main-nav .menu-container li:hover .current_page_item .sub-menu a, #main-nav .menu-container li:hover .current-menu-item .sub-menu a {
        color: #ffffff !important; }
      #main-nav .menu-container li:hover .current_page_item:hover a, #main-nav .menu-container li:hover .current-menu-item:hover a {
        color: #ffffff !important; }
  #main-nav .menu-container-open {
    max-height: 1000px !important; }
  #main-nav .menu-icon-wrapper {
    height: 80px; }
    #main-nav .menu-icon-wrapper .menu-icon {
      cursor: pointer;
      height: 22px;
      width: 32px;
      position: relative;
      top: 29px; }
      #main-nav .menu-icon-wrapper .menu-icon span {
        display: block;
        position: absolute;
        width: 32px;
        height: 4px;
        border-radius: 9px;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.3s ease-in-out;
        -moz-transition: 0.3s ease-in-out;
        -o-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
        background-color: #000000; }
      #main-nav .menu-icon-wrapper .menu-icon span:nth-child(1) {
        top: 0; }
      #main-nav .menu-icon-wrapper .menu-icon span:nth-child(2) {
        top: 9px;
        left: 0; }
      #main-nav .menu-icon-wrapper .menu-icon span:nth-child(3) {
        top: 18px; }
    #main-nav .menu-icon-wrapper .open span:nth-child(1) {
      top: 9px;
      -webkit-transform: rotate(135deg);
      -moz-transform: rotate(135deg);
      -o-transform: rotate(135deg);
      transform: rotate(135deg); }
    #main-nav .menu-icon-wrapper .open span:nth-child(2) {
      opacity: 0;
      left: -60px; }
    #main-nav .menu-icon-wrapper .open span:nth-child(3) {
      top: 9px;
      -webkit-transform: rotate(-135deg);
      -moz-transform: rotate(-135deg);
      -o-transform: rotate(-135deg);
      transform: rotate(-135deg); } }
@media screen and (min-width: 1600px) {
  #slider {
    height: 750px !important; } }

/*# sourceMappingURL=style.css.map */
