// Variables
$yellow     : #f6a500
$light-grey : #F3F3F3

// Miscellaneous
.container-capped
  padding-left: 60px
  padding-right: 60px

.no-padding
  padding: 0

.no-margin
  margin: 0

// Middle Wrap
.middle-wrap-outer
  display: table
  height: 100%
  width: 100%

.middle-wrap
  display: table-cell
  vertical-align: middle

// Button
.button
  color: #ffffff
  background: $yellow
  border: none
  border-radius: 20px
  padding: 8px 20px
.button:hover
  background: #2C353D
  text-decoration: none

.divider
  hr
    max-width: 70px
    border-color: $yellow
    border-width: 2px

.title
  margin-bottom: 50px
  h1
    text-align: center
    text-transform: uppercase
    font-weight: 700
    margin-bottom: 20px
  .divider
    hr
      margin: 0 auto


@import "parts/reset"
@import "parts/typography"
@import "parts/lightbox"

@import "parts/nav"

@import "parts/slider"
@import "parts/call-to-action"

@import "parts/template-home"
@import "parts/template-about-us"
@import "parts/template-contact"

@import "parts/single-projecten"

@import "parts/footer"