#call-to-action
  background: $yellow url('../../assets/images/call-to-action-background.png')
  background-repeat: no-repeat
  background-position: 0 10px
  padding-top: 30px
  padding-bottom: 30px

  .text-wrap
    float: left
    padding-top: 10px
    padding-bottom: 10px

    h4
      color: #ffffff
      line-height: 23px
      margin: 0
      p
        margin: 0

  .button-wrap
    float: right

    .button
      display: block
      background: transparent
      border: 1px solid #ffffff
    .button:hover
      border-color: #2C353D
      color: #2C353D