nav
  height: 80px
  width: 100%
  position: fixed
  background-color: #ffffff
  font-family: 'Raleway', sans-serif
  font-size: 13px
  z-index: 10000000
  top: 0
  border-bottom: 1px solid #D9D9D9
  transition: all 0.3s ease-in-out
  -webkit-transition: all 0.3s ease-in-out
  -moz-transition: all 0.3s ease-in-out
  -o-transition: all 0.3s ease-in-out

  .nav-logo
    float: left
    height: 100%
    padding: 10px 0
    a
      display: block
      height: 100%
      img
        height: 59px
        transition: all 0.3s ease-in-out
        -webkit-transition: all 0.3s ease-in-out
        -moz-transition: all 0.3s ease-in-out
        -o-transition: all 0.3s ease-in-out

  .nav-menu
    float: right
    ul
      list-style-type: none
      li
        float: left
        padding: 0 12px
        a
          line-height: 80px
          text-transform: uppercase
          color: #000000
          font-size: 14px
          font-weight: 500
          transition: all 0.3s ease-in-out
          -webkit-transition: all 0.3s ease-in-out
          -moz-transition: all 0.3s ease-in-out
          -o-transition: all 0.3s ease-in-out
        a:hover
          color: #f6a500 !important
          text-decoration: none
        a:focus
          text-decoration: none
      .current_page_item, .current-menu-item
        a
          color: #f6a500 !important

      li:last-child
        padding-left: 12px
        padding-right: 0

.menu-close
  height: 60px !important
  .nav-logo
    a
      img
        height: 39px
        width: auto !important

  .nav-menu
    ul
      li
        a
          line-height: 60px !important
