h1
  font-family: 'Raleway', sans-serif
  margin-top: 0

h2
  font-family: 'Raleway', sans-serif

h3
  font-family: 'Raleway', sans-serif

h4
  font-family: 'Raleway', sans-serif

h5
  font-family: 'Raleway', sans-serif

p
  font-family: 'Raleway', sans-serif

span
  font-family: 'Raleway', sans-serif

small
  font-family: 'Raleway', sans-serif

strong
  font-family: 'Raleway', sans-serif

a
  font-family: 'Raleway', sans-serif

td
  font-family: 'Raleway', sans-serif